<!-- app/views/pages/fetch_ev.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Fetch EV Data</title>
</head>
<body>
  <%= @product_type%>
  <h1>Product ID: <%= @product_id %></h1>
  <h2>Product Title: <%= @product_title %></h2>
  <p>Price of the first variant (Wave Black): <%= @first_variant_price %></p>
  <h3>Type: <%= @product_vendor %>Desc: <%= @product_body_html %></h3>
  <%= @product_type %>
</body>
</html>
